<!--<label for="exampleDataList" class="form-label">Datalist example</label>-->
<!--<input type="text" class="form-control" list="datalistOptions" id="exampleDataList" multiple="multiple"-->
<!--       placeholder="Type to search..." name="data" [(ngModel)] ="selectedItems" (change)="detectChangedSelection($event.target)">-->
<select class="form-select" aria-label="multiple select example" data-live-search="true" id="exampleDataList" name="data" multiple  (change)="detectChangedSelection($event.target)">
<!--<datalist id="datalistOptions">-->
    <option *ngFor="let data of dropdownData" id="{{data.id}}" selected="{{data}}" [ngValue]="data.name">{{data.name}}
    </option>
<!--</datalist>-->
</select>
<!--{{selectedItems | json}}-->


<!--<select name="my-select" [(ngModel)]="mySelect" (change)="detectChangedSelection($event.target)" multiple="multiple">-->
<!--    <option [value]="item" *ngFor="let item of dropdownData">-->
<!--        {{item.name}}-->
<!--    </option>-->
<!--</select>-->