<div class="form-check {{textStyle}}">

    <input
            type="radio"
            class="form-check-input {{radioClass}}"
            id="{{radioLabel}}"
            [checked]="isChecked"
            name="{{radioButtonGroupName}}"
            value="{{radioLabel}}"
            [required]="required"
            [attr.aria-describedby]="radioLabel"
            (input)="textChange($event.target)"
            [disabled]="disabled"
            [ngClass]="{ 'border border-danger': showError }"
    />
    <label class="form-check-label {{labelClass}}" for="{{radioLabel}}">{{radioLabel}}</label>
    <span *ngIf="required">{{requiredText}}</span>
    <div *ngIf="showFieldHelpText" id={{radioLabel}} class={{hintClass}}>{{helpText}}</div>
</div>
