<div class="dropdown mt-3">
    <button class="form-select" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" data-display="static" [title]="selected"
            [ngClass]="{ 'border border-danger': showError }">
        <span>
            {{selected ? selected : (placeholder ? placeholder : 'Select')}}
        </span>
    </button>
    <div class="dropdown-menu">

        <!-- search -->
        <div *ngIf="showSearch" class="dropdown-item dropdown-item-search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="{{placeholder}}" [(ngModel)]="search">

            </div>
        </div>

        <!-- checkboxes -->
        <div class="dropdown-item-checkboxes">

            <!-- all -->
            <div class="dropdown-item"  *ngIf="showAll && all.visible"
                 [ngClass]="{ 'checked': all.checked }">
                <!-- checkbox -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [id]="'chkItem' + all.id"
                           (change)='onChange($event, all)' [checked]="all.checked">
                    <label class="custom-control-label" [for]="'chkItem' + all.id">
                        <span class="pl-2" [title]="all[bindLabel]">{{all[bindLabel]}}</span>
                    </label>
                </div>
            </div>
            <ng-container *ngFor="let item of filtered; let i = index;">

                <div class="dropdown-item"  *ngIf="item.visible"
                     [ngClass]="{ 'checked': item.checked }">
                    <!-- checkbox -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [id]="'chkItem' + item.id"
                               (change)='onChange($event, item)' [checked]="item.checked">
                        <label class="custom-control-label" [for]="'chkItem' + item.id">
                            <span  class="pl-2" [title]="item[bindLabel]">{{item[bindLabel]}}</span>
                        </label>
                    </div>
                </div>
            </ng-container>
        </div>

        <!-- not found -->
        <div class="dropdown-item" *ngIf="isEmpty">
            No item found
        </div>

        <!-- status -->
        <div *ngIf="showStatus" class="dropdown-count text-dark">
            <span><strong>Count:</strong> {{_items.length}}</span>
            <span><strong>Checked:</strong> {{checked}}</span>
            <span *ngIf="search"><strong>Search Count:</strong> {{filtered.length}}</span>
        </div>
    </div>
</div>