<div class="mb-3 {{textStyle}}">
    <label class="form-label {{labelClass}}"> {{label}} </label>
    <span *ngIf="required">{{requiredText}}</span>
    <div>
        <input class="form-control {{datepickerClass}}"
               type="date"
               [hidden]="isHidden"
               [min]="minRange"
               [max]="maxRange"
               [required]="required"
               [attr.aria-describedby]="label"
               [disabled]="disabled"
               [pattern]="datepickerFormat"
               [ngClass]="{ 'border border-danger': showError }"
               (input)="onSearchChange($event.target)"/>
    </div>
    <div *ngIf="showFieldHelpText" id={{label}} class={{hintClass}}>{{helpText}}</div>
</div>
