<div>
    <div>
        <label> test </label>
        <div>
            <div>

                <app-multi-dropdown [items]="itemList" [showSearch]="showSearch" [showAll]="showAll"
                    [showStatus]="showStatus" [showError]="showError" placeholder="Select Foods"
                    (itemChange)="addUser($event)">
                </app-multi-dropdown>
                <!-- <div class="card mb-2 bg-light">
                    <div class="card-body">
                        <pre class="mb-0" style="max-height: 180px"><code>{{ checkedItems | json }}</code></pre>
                    </div>
                </div> -->


                <app-single-select [dropdownData]="items" [placeholder]="'Select'" [disabled]="false" [label]="'testid'"
                    [bindLabel]="'name'" [showError]="true" [selectedItems]="[{id: 4, name: 'Tangerine 🍊'}]">
                </app-single-select>
                <app-textbox [label]="'textbox'" [id]="formControlName" [maxLength]="4" [minLength]="2"
                    [disabled]="false" [readOnly]="false" [placeholder]="'Test'" [textValue]="'Try this out'"
                    [showError]="true" (inputModelChange)="callbackTextBox($event)" ><app-tooltip></app-tooltip></app-textbox>
                    

            </div>
            <div>&nbsp;</div>
            <app-dropdown [items]="items" [dropDownClass]="'dropdown-toggle'" [showSearch]="showSearch"
                [showStatus]="showStatus" [showError]="showError" (itemChange)="addUser($event)">
            </app-dropdown>

            <div>
                <app-textarea [label]="'textbox'" [maxLength]="104" [disabled]="false"
                    (inputModelChange)="callbackTextBox($event)"></app-textarea>
            </div>
            <div>&nbsp;</div>
             
            <div>
                <app-datepicker [label]="'Date'" (inputModelChange)="callbackTextBox($event)"></app-datepicker>
            </div>
            <div>&nbsp;</div>

            <div>
                <app-checkbox [label]="'checkbox'" [value]="'testId'" [isChecked]="true" [required]="true" [labelClass]="'form-check-label'"
                    [checkboxClass]="'form-check-input'" [textStyle]="'form-check form-switch'" [disabled]="false"
                    (inputModelChange)="callbackTextBox($event)"></app-checkbox>
            </div>
            <div>&nbsp;</div>

            <div>
                <app-radiobutton [radioLabel]="'radiobutton'" [radioButtonGroupName]="'group1'"
                    (inputModelChange)="callbackTextBox($event)" [disabled]="false"></app-radiobutton>

                <app-radiobutton [radioLabel]="'radiobutton1'" [radioButtonGroupName]="'group1'"
                    (inputModelChange)="callbackTextBox($event)" [disabled]="false"></app-radiobutton>
            </div>
            <div>&nbsp;</div>

            <div>

                <app-close-button [disabled]="false" (onClick)="addUser($event)"></app-close-button>
                <app-buttons [buttonType]="'submit'" [buttonLabel]="'Save'" [buttonId]="'SaveButton'"
                    (onClick)="addUser($event)" [textStyle]="'btn-success'" [disabled]="false"></app-buttons>&ndash;&gt;
            </div>
        </div>
    </div>
</div>

<form class="row g-3">
    <div class="col-md-4">
        <label for="validationServer01" class="form-label">First name</label>
        <!-- <app-tooltip 
        [tooltipId]="'testid'"
        [tooltipLabel]="'A'"
        [tooltipPosition]="'left'"
        [tooltipText]="'hey this is a testing thing'"
        ></app-tooltip> -->
        <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationServer02" class="form-label">Last name</label>
        <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationServerUsername" class="form-label">Username</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend3">@</span>
            <input type="text" class="form-control is-invalid" id="validationServerUsername"
                aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <label for="validationServer03" class="form-label">City</label>
        <input type="text" class="form-control is-invalid" id="validationServer03"
            aria-describedby="validationServer03Feedback" required>
        <div id="validationServer03Feedback" class="invalid-feedback">
            Please provide a valid city.
        </div>
    </div>
    <div class="col-md-3">
        <label for="validationServer04" class="form-label">State</label>
        <app-dropdown [items]="items" [dropDownClass]="'dropdown-toggle'" [showSearch]="showSearch"
            [showStatus]="showStatus" [showError]="showError" (itemChange)="addUser($event)">
        </app-dropdown>
        <app-single-select
        [bindLabel]="'name'"
        [disabled]="false"
        [dropdownData]="items"
        [label]="'State'"
        (itemChange)="addUser($event)"
        [selectStyle]="'form-select'"
        [required]="true"
        [showError]="true"
        >

        </app-single-select>
        <!-- <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback"
            required>
            <option selected disabled value="">Choose...</option>
            <option>...</option>
        </select>
        <div id="validationServer04Feedback" class="invalid-feedback">
            Please select a valid state.
        </div> -->
    </div>
    <div class="col-md-3">
        <label for="validationServer05" class="form-label">Zip</label>
        <input type="text" class="form-control is-invalid" id="validationServer05"
            aria-describedby="validationServer05Feedback" required>
        <div id="validationServer05Feedback" class="invalid-feedback">
            Please provide a valid zip.
        </div>
    </div>
    <div class="col-12">
        <div class="form-check">
            <app-checkbox [label]="'Agree to terms and conditions'" [required]="true" [labelClass]="'form-check-label'"
                [checkboxClass]="'form-check-input is-invalid'" [textStyle]="'form-check'" [disabled]="false"
                (inputModelChange)="callbackTextBox($event)"></app-checkbox>
            <div id="invalidCheck3Feedback" class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>
    </div>
    <div class="col-12">
        <!--         <button class="btn btn-primary" type="submit">Submit form</button>
 -->
        <app-buttons [buttonId]="'save'" (onClick)="addUser($event)" [buttonLabel]="'Save'" [buttonType]="'submit'" [disabled]="false"
            [textStyle]="'btn btn-primary'"></app-buttons>
    </div>
</form>






















<div *ngFor="let program of programList;let i=index" class="card standard mb-3" >

    <div class="card-body">
    <div class="form-check">
    <app-checkbox [label]="program.name" [value]="program.id" [isChecked]="program.selected" ></app-checkbox>
    <!-- <input type="checkbox" id="program_id" class="form-check-input" [checked]="program.selected" (clicked)="onCheckboxChange(program.id,i,program.selected)" [value]="program.id" />
    
    
    
    <label for="program_id" class="form-check-label" for="chkHealthCareCoverage" (clicked)="onCheckboxChange(program.id,i,program.selected)"> {{program.name}}</label> -->
    
    </div>
    <!-- <p>{{program.program_desc}}</p>
    <a href="program.program_link">{{program.program_link_desc}}</a> -->
    </div>
    
    </div>
    <div class="card">
    <div class="card-body">
    <div class="form-check">
    
    <div *ngFor="let program of programList;let i=index" class="card standard mb-3" (click)="onCheckboxChange(program.id,i,program.selected)">
    
    
    
    <div class="card-body">
    <div class="form-check">
    <!-- <input type="checkbox" id="program_id" class="form-check-input" [checked]="program.selected" (clicked)="onCheckboxChange(program.id,i,program.selected)" [value]="program.id" />
    
    
    
    <label for="program_id" class="form-check-label" for="chkHealthCareCoverage" (clicked)="onCheckboxChange(program.id,i,program.selected)"> {{program.name}}</label> -->
    <app-checkbox [value]="program.id" [checkboxClass]="'form-check-input'" [labelClass]="'form-check-label'" [label]="program.name" [isChecked]="program.selected" [value]="program.id" [required]="true" (inputModelChange)="alert($event)" ></app-checkbox>
    </div>
    <!-- <p>{{program.program_desc}}</p>
    <a href="program.program_link">{{program.program_link_desc}}</a> -->
    </div>
    
    </div>
    <input class="form-check-input" type="checkbox" value="" id="chkHealthCareCoverage" onClick="event.stopPropagation();">
    <label class="form-check-label" for="chkHealthCareCoverage" onClick="event.stopPropagation();">
    Health Care Coverage
    </label>
    </div>
    </div>
    </div>
    
    