<div class="form-check {{textStyle}}">
    <input
            class="form-check-input {{checkboxClass}}"
            type="checkbox"
            [required]="required"
            [attr.aria-describedby]="label"
            id="{{label}}"
            name="{{label}}"
            [hidden]="isHidden"
            (input)="onEventChange($event.target)"
            [checked]="isChecked"
            [disabled]="disabled"
    />
    <label for="{{label}}" class="form-check-label {{labelClass}}">{{label}}</label>
    <span *ngIf="required">{{requiredText}}</span>
    <div *ngIf="showFieldHelpText" id={{label}} class={{hintClass}}>{{helpText}}</div>
</div>
