<div [class]="textClass">

    <label class="{{labelClass}}" for="{{label}}"> {{label}} </label>
    <span *ngIf="required">{{requiredText}}</span>
    <div>
    <textarea
            type="text"
            [required]="required"
            class="{{textareaClass}}"
            id="{{label}}"
            [attr.aria-describedby]="label"
            (input)="textChange($event.target)"
            [attr.maxlength]="restrictInputLength"
            [disabled]="disabled">{{text}}
      </textarea>
    </div>
    <div *ngIf="showFieldHelpText" id={{label}} class={{hintClass}}>{{helpText}}</div>
</div>
