<div class="mb-3 {{textClass}}">

    <label class="form-label {{labelClass}}" for="{{label}}"> {{label}} </label>
    <span *ngIf="required">{{requiredText}}</span>
    <div>
    <textarea
            type="text"
            [required]="required"
            class="form-control {{textareaClass}}"
            placeholder="{{placeholder}}"
            id="{{label}}"
            rows="{{rows}}"
            [attr.aria-describedby]="label"
            (input)="textChange($event.target)"
            [attr.maxlength]="restrictInputLength"
            [disabled]="disabled">{{text}}
      </textarea>
    </div>
    <div *ngIf="showFieldHelpText" id={{label}} class={{hintClass}}>{{helpText}}</div>
</div>
